@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Custom Error";
}
<title>Custom Error</title>

<h1>MVC Error</h1>
      Controller: @Model.ControllerName <br />
    Action: @Model.ActionName <br />
    Message: @Model.Exception.Message